<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="app">
    <label><input type="radio" name="sex" v-model="sex" value="male">male</label>
    <label><input type="radio" name="sex" v-model="sex" value="female">female</label>
    <h2>选择的是{{sex}}</h2>
  </div>
  
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        sex:'male',
      },
      methods: {}
    });
  </script>
</body>

</html>