<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="app">
    <h2>select单选</h2>
    <select  v-model="fruit">
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="榴莲">榴莲</option>
      <option value="草莓">草莓</option>
    </select>
    <h2>选择的为：{{fruit}}</h2>
    <h2>select多选</h2>
    <select  v-model="fruits" multiple>
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="榴莲">榴莲</option>
      <option value="草莓">草莓</option>
    </select>
    <h2>选择的为：{{fruits}}</h2>
  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        fruit:'草莓',
        fruits:[],

      },
      methods: {}
    });
  </script>
</body>

</html>